<footer class="page-footer font-small default-bg-color overflow-hidden" id="footer">
  <div class="container text-center text-md-left py-4">
    <div class="row py-5">
      <!-- logo -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-8">
        <img src="/assets/image/logo.png" width="85%" alt="" />
      </div>

      <!-- destination -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-8 right-to-left has-animation">
        <h5 class="text-uppercase ml-3">Other destinations</h5>
        <div class="container">
          <ul class="p-0 m-0" style="list-style: none; font-size: small;">
            <li class="py-2">Destination 1</li>
            <li class="py-2">Destination 1</li>
            <li class="py-2">Destination 1</li>
            <li class="py-2">Destination 1</li>
          </ul>
        </div>
      </div>
      <!-- contact -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-8">
        <h5 class="text-uppercase ml-3">Contact Info</h5>
        <div class="container">
          <ul class="p-0 m-0" style="list-style: none; font-size: small;">
            <li><i class="fas fa-phone mt-3"></i>
              <span class=""> +514 9874563210</span>
            </li>
            <li class="py-2"><a href="mailto:niharika96verma@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span class=""> info@niharika.com</span></a></li>
            <li><i class="fas fa-globe-asia"></i>
              <span class=""> www.niharika.com</span>
            </li>
          </ul>
        </div>
      </div>



      <!-- stay connected -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-4 text-md-left left-to-right has-animation">
        <h5 class="text-uppercase ml-3">Stay Connected</h5>
        <div class="w-100 ml-3 mt-2">
          <ul class="social-links">
            <li>
              <a href="#" class="text-light">
                <i class="fab fa-facebook-f social-icon"></i></a>
            </li>
            <li>
              <a href="#" class="text-light"><i class="fab fa-twitter social-icon"></i></a>
            </li>
            <li>
              <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Finstagram.com%2Fglide_dine%3Figshid%3D6gyg11fnvr5a%26fbclid%3DIwAR14nVdfcZipbLyRdE3YSHfHqhDcpLLua5516sQUwvyGA28uijkuLho3mDo&h=AT1OwqtVEQlDmYGLuwXN347MSXjS8Q4c05mYThf3y_0JCdhQN3EKhHBdPBYUgZRnJ14JzJWygtftWKmPJ8f6kBjkASLiz_WMQuvnOB56ArGos-wobXvSTOs8cCryc0f-BrShlg"
                target="_blank" class="text-light"><i class="fab fa-instagram social-icon"></i></a>
            </li>

            <li>
              <a href="#" class="text-light"><i class="fab fa-youtube social-icon"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3 default-bg-color-white">
    © 2020 Niharika Travels | All Rights Reserved
  </div>
</footer>
