<div class="col-lg-12 my-2 border" style="height: 200px;">
    <div class="row">
        <div class="col-lg-3 p-0 m-0 overflow-hidden">
            <img src="/assets/image/uploads/o_image1608443818400.jfif" class="fixed-img w-100" alt="Hotel name" />
        </div>
        <div class="col-lg-6 border-right">
            <p class="p-2"><b>Hotel name</b></p>
            <p class="p-1">
                <% for(var i=0;i<5;i++){ %>
                    <i class="fas fa-star"></i>
                    <% } %>
            </p>
            <small class="p-2"><i class="fas fa-map-marker-alt"></i> Location</small>
        </div>
        <div class="col-lg-3 justify-content-center align-items-center d-flex">
            <div class="text-center">
                <h5 class="default-color"><b>$ 250</b></h5>
                <p class="py-1"><small>Price per room</small></p>
                <form>
                    <button style="border-radius: 0;" class="p-2 default-bg-color">
                        Select Room
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
