<section style="padding-top: 100px !important;"></section>
<div class="container-fluid p-0 m-0">
  <div class="row p-0 m-0 bg-warning">
    <div class="col-lg-7 p-0 m-0">
      <img src="/assets/image/france.jpg" class="w-100" alt="">
    </div>
    <div class="col-lg-5 my-auto">

      <p class="text-center">
        An About Us page helps your company make a good first impression, and is critical for building
        customer trust
        and loyalty. An About Us page should make sure to cover basic information about the store and its founders,
        explain the company's purpose and how it differs from the competition, and encourage discussion and interaction.
        Here are some free templates, samples, and example About Us pages to help your ecommerce store stand out from
        the crowd.</p>
    </div>
  </div>
</div>
</section>
<script>
  $("#nav-aboutus").addClass("active");
</script>
